apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ storage.nfs_storage_class }}
provisioner: {{ storage.provisioner }} # or choose another name, must match deployment's env PROVISIONER_NAME'
parameters:
  archiveOnDelete: "false"
{% if storage.mountOptions is defined %}
mountOptions: {{ storage.mountOptions|convert2jsonstr }}
{% endif %}
