kind: Secret
apiVersion: v1
data:
  tls.crt: |
LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQwakNDQXJxZ0F3SUJBZ0lVQm9vSmN0VnRn
Y0tOZTE0OVgvRElBY3cxSFZnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2J6RUxNQWtHQTFVRUJoTUNR
MDR4RURBT0JnTlZCQWdUQjBKbGFVcHBibWN4RURBT0JnTlZCQWNUQjBKbAphVXBwYm1jeEVEQU9C
Z05WQkFvVEIyTnNkWE4wWVhJeEVUQVBCZ05WQkFzVENIQnNZWFJtYjNKdE1SY3dGUVlEClZRUURF
dzUzZDNjdVkyeDFjM1JoY2k1aGFUQWVGdzB4T0RFd01EZ3dOVFE0TURCYUZ3MHlNekV3TURjd05U
UTQKTURCYU1HOHhDekFKQmdOVkJBWVRBa05PTVJBd0RnWURWUVFJRXdkQ1pXbEthVzVuTVJBd0Rn
WURWUVFIRXdkQwpaV2xLYVc1bk1SQXdEZ1lEVlFRS0V3ZGpiSFZ6ZEdGeU1SRXdEd1lEVlFRTEV3
aHdiR0YwWm05eWJURVhNQlVHCkExVUVBeE1PZDNkM0xtTnNkWE4wWVhJdVlXa3dnZ0VpTUEwR0NT
cUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUsKQW9JQkFRQ3lyejNZUTI5cXlPNHdTTWk5V0xqTXVQ
bVE5YUN4NlltUGozS2NZT2c1SHpTbG5CZEVVcS85Q2EzZgo3K3lJcGIrN1hPaGQyWERuTkx3SVBu
d0Z3QStEWlpKbmxkK01tZmkvY2pNWVZ1bjR6N1NtRW1VMlRKSVlsMHdNCnNMd21BUHlHeE9QT3Y5
cVYvOTlISXRGckdhbWN6U09ESUlqa2ZaOUt5eTNLblFhelRNakN5TERwQk42V0JuS0MKeEhieU1Q
S0FNTVYvKys2LzE5WGlTVHEvSXdCMlpMbG9QMCtyZUlPMVk1MXhCL3VXRkRoVTZKYkFHTy9kWkJO
TwpoQ0l5OUdsVFRGVXBSR3JEdkNFVFJzeEhiSVdSMDZnOG1BMGR3KytXZW1lZTlpM0xuT3hDWDRt
c1RMZkpURk1DCmpucUNDWmpZSEtRUWUyREtCVHZRZURBb2ZnN1RBZ01CQUFHalpqQmtNQTRHQTFV
ZER3RUIvd1FFQXdJQkJqQVMKQmdOVkhSTUJBZjhFQ0RBR0FRSC9BZ0VDTUIwR0ExVWREZ1FXQkJR
Y2svcVBNdENPS2VVa3RwZ1RLSnRGK0JRZwoxVEFmQmdOVkhTTUVHREFXZ0JRY2svcVBNdENPS2VV
a3RwZ1RLSnRGK0JRZzFUQU5CZ2txaGtpRzl3MEJBUXNGCkFBT0NBUUVBajJWb0ZHUlNGVmF4UjdD
R0x2NGVBUkJtS2I0SkVDMlM5MlRqbmYyYkhxODdmcFp5eFlIMmc3UEsKd0hjSmc3cnJBRzlhYXZa
cW9oeDJWdHJGVklHYS9Pd01VRVZIWnNEVlhhRTREK3loeE5iMUdYdVZmUWFwQTU3ZgpBaUVGL2d4
Q1R4TjRyY1loeW9PTG5DcDQ5bUxDT211Vm1FNkwwL1ViR3Q5eDZCb3Nka3dEUG9FVFFnaDFGUVNz
CnRpd29FanN6QkhlaEhHR2FPOTdhWEN5M1Z6RHVPeGxBeXBJd0FlOTF5SWo2dkgzWHo4REFEOFdn
VnloSUlBRDMKbGduekpkbWpHK1pPdXdXeGtoRXdPUUpKWm10cFNQRFhOTGRwaXYvN0VOTGc2SXpK
enluZWhxbmUyc2RDTTFLVgp2V1N5akdCS0I5M0tsbUE5L3VIZXpZR3RuWDBvL2c9PQotLS0tLUVO
RCBDRVJUSUZJQ0FURS0tLS0tCg==
  tls.key: |
LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBc3E4OTJFTnZh
c2p1TUVqSXZWaTR6TGo1a1BXZ3NlbUpqNDl5bkdEb09SODBwWndYClJGS3YvUW10Mysvc2lLVy91
MXpvWGRsdzV6UzhDRDU4QmNBUGcyV1NaNVhmakpuNHYzSXpHRmJwK00rMHBoSmwKTmt5U0dKZE1E
TEM4SmdEOGhzVGp6ci9hbGYvZlJ5TFJheG1wbk0wamd5Q0k1SDJmU3NzdHlwMEdzMHpJd3Npdwo2
UVRlbGdaeWdzUjI4akR5Z0RERmYvdnV2OWZWNGtrNnZ5TUFkbVM1YUQ5UHEzaUR0V09kY1FmN2xo
UTRWT2lXCndCanYzV1FUVG9RaU12UnBVMHhWS1VScXc3d2hFMGJNUjJ5RmtkT29QSmdOSGNQdmxu
cG5udll0eTV6c1FsK0oKckV5M3lVeFRBbzU2Z2dtWTJCeWtFSHRneWdVNzBIZ3dLSDRPMHdJREFR
QUJBb0lCQUhDR0tRVWkybXc5NHJtbgpiRHJKUDM4MDBYejNJZDVJT21lY3AwbFJRWXlQV1VFZGZn
MTVvUGhSZXh5MTQ1ZmVBVk1GWEJPVjFpTFRzOEhoClQ0cnpleEY5Q21pUEdqdFp6eXNJeUtLQVFW
Rjl3NzU5Z1IxanRQRWxmaS9Uc0hpaVVHU3lZdCtWTkJzWUNreXEKNFlSM29iZHIrL3djcGZoMkg3
VWpKRkFlK05RNTdoL3JjeUh0WVgzZFM5N3U4dmtzR29Da1lGQit5UlpwbHp4SQplVytxb3RGSy9q
WEpIaUhkUW0vWW4xaTF0YzlrSGhCSU9idnhZeUtsSDBkSWowWjcxMzNDSXlVNU1VNjhPY2J5Ck4y
cTJrSWpmMko3TjNDVmJOSFRHRWY4b1MyZEszUDc2YUkvWDk3bmRSSWt1cmNWc0VFVmowaU9JK01D
SnNxNnYKRkpiSnZpa0NnWUVBMHJwRzFacXgrMjdLWmRndVhyYlNEWUkzQ1RJZ1U3WjNNM3NNV0R2
RDZaS1djSE95c2h3aApaZ2tYTmkxbyt2ZlhlTjlqbnhkdDRkVEl0Z1JkNWw2QlNjUVRGdVV2NGZR
aXZ4QnZkY2x2amJRNUV6RSt1cUJJCmFlemppZm9kZldxR0JydDRXL0ZYSEFrZi9NbWJERCtiZExH
aW1jS3didjBKVTV2TXBQcUpneVVDZ1lFQTJSS2oKcEwvRDlyRGRxdkhFQnhsSGIraGRpTW94eERx
WDRzV0dGTEFFL1Q5Y29FWmdQWXVZOXN4OXU5NmpNdFI1MW1PQwp0WjhvaTVZY3M1em8wK1RPVitQ
NFQ5U1A5TndZUGM5VkVZWENzTDhqbHI4QUorTWxXa0V5aVFkYVdkbndYbHF5CjJwS1lCWXhseVIy
MDEvekNvR3d5WC9VaVRGajM1SFR5TDlTR3BKY0NnWUFEa29MVzVpdDBQcm1ScG11SzBZQ1kKR0Fn
RTBPTzVaNU4zdlBORm42Vy9sT3VWOW5BbUV0SUNIODlUN01zbHpnUEtHY2Rma0E4ZHovU2pHVW5h
T09ucQpMVGZCb0pzQ01waFFNdUFnMkF4YkU1NFFGRHFqQVVxWStSb1dZYllVUlRVR2NqRWxKZDg3
SzNCdVlhQ09RWm5LCkRhVGJCSERuUU1UaXRQWndLWXNoUFFLQmdRQ043QUhSMVE3cVd2aVNxejdl
NVVndmdseWs4bzFYSG5mdmEvVWQKMFhkeG05dVRibSs5eldkVTlKM0FGdS9jYTg2OHZKTFk3Qlky
TFE3VzM5L1pxZDYrMSsyaFEvaGF2d3VhWGRQZwpnUE9wVzA2SllKZFpmTWtQR1ZGUkJkMnNvVERt
ZjZZd0FXZ2pPSWZUMWZoR3Zwc0JCN3hud0gyTUxSN2wzdy80CjlacVNRUUtCZ1FDaTEwZEw5ZXBS
N1lVcnBuK0lXWEJnazNaZ3RIa1RIOGpxYUgvS2d3TWVMdFJoZldJd1RsN2kKV2EzV3R4K2xMZUV6
QjBMNkZKTkRlblhrZlluTXlEMjFLejUxMnVCbi9YaFpCL3c3UllVbzN5UzFwS3ZjSldWaQpzUXRw
U2UyMWYrZjhKclpUOG9zY3ZhTVlDamM0OEs4a3FKNjY0UFNGZVFZTEcrcUlVaWdKV3c9PQotLS0t
LUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
metadata:
  name: registry-tls
  namespace: docker-registry
type: Opaque
