INSECURE_REGISTRY=""
DOCKER_OPTS=""
{% if container_runtime == "nvidia-docker" -%}
DOCKER_OPTS="--default-runtime=nvidia"
{% endif -%}
{% if ansible_os_family == "RedHat" -%}
DOCKER_STORAGE_OPTIONS="--storage-driver=overlay"
{% endif -%}
